.hawaii-main{
    background-image: url(/Assets/Images/hawaii.jpg);
    background-position: center;
    background-size: cover;
}
.greece-main{
    
    background-position: center;
    background-size: cover;
}
.iceland-main{

}